
  <header class="site-header">

  <div class="wrapper">

    <a href="{{ site.baseurl }}/"><h1 class="site-title">{{ site.title }}</h1></a>
    <nav class="site-nav">
    <a href="{{site.baseurl}}/" class="nav-link">Početna</a>
    <a href="{{site.baseurl}}/kompanije/" class="nav-link">Kompanije</a>
    <a href="{{site.baseurl}}/inzenjeri/" class="nav-link">Inženjeri</a>
    <a href="{{site.baseurl}}/oprojektu/" class="nav-link">O projektu</a>
    <a href="{{site.baseurl}}/kontakt/" class="nav-link">Kontakt</a>
    </nav>

  </div>

</header>
